<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>

<body class="article-body">
	<%- partial('_partial/nav') %>
	<article class="articlearticle">
		<div class="article-title">
			<h2 class="title"><%= page.title %></h2>
		</div>
		<div class="article-meta">
			<span class="article-time"><%- date(page.date, "YYYY-MM-DD") %></span>
		</div>
		<div class="article-content">
			<%- page.content %>
		</div>
	</article>
	<%- partial('_partial/footer') %>
</body>

</html>