<nav class="nav">
    <div class="jump">
        <!-- <a href="<%- url_for(theme.menu[2]) %>" title="BLOG">BLOG</a>
        <a href="../about/index.html" title="about me">ABOUT</a>
        <a href="../contact/index.html" title="contact me">CONTACT</a> -->
        <% for (var i in theme.menu){ %>
            <a href="<%- url_for(theme.menu[i]) %>" title="<%- url_for(theme.menu[i]) %>"><%= i %></a>
        <% } %>
    </div>
    <div class="homepage">
        <a href="<%- config.root %>" title="homepage">LI XUETAO</a>
    </div>
    <div class="socialmedia-nav">
        <a class="link-item link-item-nav" title="Twitter" href="https://twitter.com/lixuetaoleo">
            <i class="iconfont icon-twitter"></i>
        </a>
        <a class="link-item link-item-nav" title="Instagram" href="https://www.instagram.com/lixuetaoleo/">
            <i class="iconfont icon-instagram"></i>
        </a>
        <a class="link-item link-item-nav" title="Weibo" href="https://weibo.com/u/1791741344">
            <i class="iconfont icon-weibo"></i>
        </a>
        <a class="link-item link-item-nav" title="Github" href="https://github.com/lixuetaoleo">
            <i class="iconfont icon-github"></i>
        </a>
    </div>
</nav>